.post {
    margin: 3rem;
    padding: 3rem;
    text-align: left;
    width: 100%;
    box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.1);
    border-radius: 1.8rem;

    h2, h3 {
        font-size: 3rem;
    }

    li {
        color: #000;
        font-size: 18px;
    }
}

.posts {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.post-wrapper {
    max-width: 124rem;
    margin: 0 auto;
}

blockquote {
    max-width: 62rem;
    padding: 3rem;
    margin: 2rem 0;
    background-color: #fff;
    border-radius: 70px;
    background: #ffffff;
    box-shadow:  11px 11px 63px #f7f7f7, 
                 -11px -11px 63px #ffffff;
    font-size: 1.6rem;
    border-radius: 1rem;
}