.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

.postlist {
  width: 40%;
  text-align: left;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 124rem;
  margin: 0 auto;
  height: 100px;
  padding: 0 3rem;
}

.logo {
  cursor: pointer;
  width: 100%;
  color: #fff;
  font-weight: 700;
  margin-right: auto;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin: 0 auto;
}

.nav__links li {
  display: inline-block;
  padding: 0 2rem;
}

.nav__links li a {
  font-weight: 700;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav__links li a:hover {
  color: #0088a9;
}

.header {
  background-color: #2F2F2F;
  -webkit-box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.1);
  width: 100%;
  background-size: cover;
}

.post {
  margin: 3rem;
  padding: 3rem;
  text-align: left;
  width: 100%;
  -webkit-box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.1);
  border-radius: 1.8rem;
}

.post h2, .post h3 {
  font-size: 3rem;
}

.post li {
  color: #000;
  font-size: 18px;
}

.posts {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.post-wrapper {
  max-width: 124rem;
  margin: 0 auto;
}

blockquote {
  max-width: 62rem;
  padding: 3rem;
  margin: 2rem 0;
  background-color: #fff;
  border-radius: 70px;
  background: #ffffff;
  -webkit-box-shadow: 11px 11px 63px #f7f7f7,  -11px -11px 63px #ffffff;
          box-shadow: 11px 11px 63px #f7f7f7,  -11px -11px 63px #ffffff;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.footer {
  background-color: #2f2f2f;
  color: #fff;
  width: 100%;
  margin-top: 20vh;
  padding: 3rem 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__some {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.footer__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  text-align: center;
}

.footer__content h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__content a {
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-right: 1rem;
}

.footer__content .contact {
  text-transform: none !important;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Livvic', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

h1 {
  font-size: 72.24px;
  font-weight: 900;
  line-height: 29.124px;
}

h2 {
  font-size: 47.12px;
  font-weight: 700;
  line-height: 29.124px;
}

h3 {
  font-size: 28.12px;
  font-weight: 300;
  line-height: 29.124px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 29.124px;
}

a {
  font-size: 18px;
  font-weight: 300;
  line-height: 29.124px;
}

li, a, button {
  color: #fff;
  text-decoration: none;
  list-style: none;
}

button {
  padding: .9rem 2.5rem;
  background-color: #0088a9;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

textarea {
  font-family: inherit;
}

.super {
  font-size: 123.36px;
}

.thin {
  font-weight: 100;
}

.center {
  text-align: center;
}
