html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  
  html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Livvic', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }