h1 {
    font-size: 72.24px;
    font-weight: 900;
    line-height: 29.124px;
}

h2 {
    font-size: 47.12px;
    font-weight: 700;
    line-height: 29.124px;
}

h3 {
    font-size: 28.12px;
    font-weight: 300;
    line-height: 29.124px;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 29.124px;
}

a {
    font-size: 18px;
    font-weight: 300;
    line-height: 29.124px;
}

li, a, button {
    color: #fff;
    text-decoration: none;
    list-style: none;
}

button {
    padding: .9rem 2.5rem;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all .3s ease;
    color: #fff;
    font-weight: 700;
    font-size: 18px;

    &:hover {
        background-color: rgba(0, 136, 169, 0.8);
    }
}

textarea {
    font-family: inherit;
 }

// Font size variaton classes

.super {
    font-size: 123.36px;
}

.thin {
    font-weight: 100;
}

.center {
    text-align: center;
}